/.idea/
target/
/test-dbs/*-*
/test-dbs/databases.properties
*.log
*.iml
*.class
/\.target/
/\.cache
/\.project
/\.classpath
/\.settings/
sbt-cache-config/
sbt-cache-update/
.metals
.bsp
.bloop
.vscode
project/.bloop
project/metals.sbt
project/project
workspace.code-workspace
